.background-image {
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
